@* @model Food_Ordering_System.Models.SellerVM *@

@{
	ViewBag.Title = "Seller Dashboard"; 
	DateTime now = DateTime.Now;	
}

<p>Welcome! "Seller"</p>

<div class="seller-test">
	<a asp-area="" asp-controller="Seller" asp-action="AddProduct">Add Product</a>
</div>

